@use "../scss/" as *;



.movie-content {
    @include flex(flex-start, flex-start);
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -200px;
    position: relative;
    padding: 0 2rem;

    &__poster {
     flex: 1;
     
       
        

        @include mobile {
            display: none;
        }

        &__img {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: $border-radius;
            margin-top: 35%;
            margin-left: -7%;
           
            
           
        }
        

        .btn {
            position: relative;
            left: 40px;
            margin-top: -150px;
            border: 2px solid rgb(0, 255, 21);;
            font-size: 30rem;
            font-weight: 600;
            color: white;
          }
      
         

    }

}
